.results-wrapper {
  background: #000000;
  color: #fff;
  min-height: 100vh;
  padding: 40px 60px;
  font-family: Inter, sans-serif;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 25px;
  font-size: 16px;
}

.stats-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}

.stat-card {
  background: #000000;
  padding: 35px 25px;
  border-radius: 14px;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  height: 130px;
  border-color: rgba(255, 242, 242, 0.321);
    text-align: center;
  justify-content: center;
}

.stat-card span {
  display: block;
  font-size: 14px;
  color: #aaa;
  margin-top: 8px;
  text-align: center;
  justify-content: center;
  
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-box {
  position: relative;
  flex: 1;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-box input {
  width: 100%;
  background: #020617;
  border: 1px solid #1e293b;
  color: #fff;
  padding: 12px 15px 12px 40px;
  border-radius: 10px;
}

.export-btn {
  background: #1e293b;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.status-buttons {
  display: flex;
  gap: 10px;
}

.status-buttons button {
  background: #020617;
  border: 1px solid #1e293b;
  color: #fff;
  padding: 10px 14px;
  border-radius: 999px;
  cursor: pointer;
}

.status-buttons .active {
  background: #1e293b;
}

.table-box {
  background: #000000;
  border-radius: 12px;
  margin-top: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #020617;
}

th, td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #020617;
  font-size: 15px;
}

tbody tr:hover {
  background: #000814;
}

.met {
  background: #064e3b;
  color: #6ee7b7;
  padding: 6px 12px;
  border-radius: 999px;
}

.not-met {
  background: #450a0a;
  color: #fca5a5;
  padding: 6px 12px;
  border-radius: 999px;
}

.status-pill {
  background: #1e293b;
  padding: 6px 12px;
  border-radius: 999px;
}

.dots {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.pagination-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
  margin-right: 2%;
}

.pagination-row button {
  background: transparent;
  color: #fff;
  border: 1px solid #1e293b;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}
