body {
  background-color: #000;
}

.dark-card {
  background: #0f0f0f !important;
  border: 1px solid #1f1f1f;
  color: white;
}

.custom-table-height {
  min-height: 420px;
  max-height: 550px;
}

.table-section {
  margin-top: 20px;
}

.search-input {
  width: 220px;
  background: #111 !important;
  color: #fff !important;
}

.table-dark th,
.table-dark td {
  border-color: #222 !important;
}
.pagination-bar {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 18px;
margin-right: 40%;
}

.pagination-bar button {
  height: 38px;
  padding: 0 14px;
  border-radius: 6px;
  background: #111;
  border: 1px solid #333;
  color: #fff;
  font-size: 14px;
}

.pagination-bar .active-page {
  background: #0d0e1265;
  border: none;
}

.pagination-bar button:hover:not([disabled]) {
  opacity: 0.8;
  transform: translateY(-1px);
}

.pagination-bar button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
.createBtn{
    background-color: #8CC63F;
  color: #000000;
  border: none;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
height: 44px;
width: 200px;  
}
.createBtn:hover{
  background-color: #35B24A;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(140, 198, 63, 0.3);
}

.custom-filter-btn {
  background-color: #8CC63F; /* Button ka background colour yahan likhein */
  color: #000000;            /* Text ka colour yahan likhein */
  border: 1px solid #000000; /* Border ka colour */
  transition: all 0.3s ease; /* Smooth effect ke liye */
  font-size: 0.875rem;
  font-weight: bold;
  height: 44px;

}

.custom-filter-btn:hover {
  background-color: #35B24A; 
  border-color: #ffffff;
}

.custom-filter-btn:active, 
.custom-filter-btn:focus {
  background-color: #000000;
  color: #000000;
  border-color: #fff;
  box-shadow: none; 
}