.inspection-container {
  display: flex;
  padding: 25px;
  background: #0c0c0c;
  color: #fff;
  min-height: 100vh;
}

.left-section {
  width: 60%;
  margin-right: 30px;
}

.page-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.accordion-item {
  background: #151515;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 12px;
}

.accordion-header {
  padding: 14px 18px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-body {
  padding: 18px;
  border-top: 1px solid #333;
}

.label-text {
  color: #bbb;
  font-size: 14px;
}

.dark-input,
.dark-select {
  background: #111;
  border: 1px solid #444;
  color: white;
}

.dark-input:focus,
.dark-select:focus {
  border-color: #777;
  box-shadow: none;
}

.right-section {
  width: 40%;
}

.image-card {
  background: #151515;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #ffffff6c;
  margin-bottom: 20px;
width: 550px;
height: 450px;
margin-top: 20px;
}

.big-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.thumbnail-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.thumb-img {
  width: 55px;
  height: 45px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  border: 1px solid #333;
}

.thumb-img:hover {
  opacity: 0.8;
}

.active-thumb {
  opacity: 1;
  border: 2px solid #0af;
}

.car-title {
  font-size: 30px;
  font-weight: 600;
}
.car-meta {
  color: #fdfdfd;
  font-size: 14px;
}

.approve-btn {
  width: 20%;
  padding: 12px;
  font-size: 16px;
  margin: 1px;
  margin-right: 5px;
  margin-left: 44%;
  
}

.reject-btn {
  width: 20%;
  padding: 12px;
  font-size: 16px;

}
.top-image-card {
  width: 50%;
  background: #0f0f0f;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 20%;
}

.top-single-image {
  width: 100%;
  height: 240px;

  object-fit: contain;       
  background-color: #000;   

  border-radius: 10px;
  border: 2px solid #333;
}


.top-image-details {
  margin-top: 10px;
}

.car-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.car-meta {
  color: #aaa;
  font-size: 14px;
  margin: 2px 0;
}
